
@{
    Layout = "~/Views/Shared/_eLearningLayout.cshtml";
    ViewBag.Title = "Course";
}
<div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
</div>
<div class="card" style="margin-bottom: 20px;">
    <div class="card-header bg-primary text-white">Header</div>
    <div class="card-body">
        <div class="row" style="margin-bottom:10px;">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">


                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title" style="margin-top: -5px;margin-bottom: 20px;">Jane Doe</h4>
                        </div>

                        <p class="card-text" style="padding-top: 10px;border-top: 1px solid red;">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span class="course-box-tab">#1 </span>
                            <h4 class="card-title">Jane Doe</h4>
                        </div>

                        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                        <a href="#" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>